/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f9fc; /* Fondo claro */
  color: #2c3e50; /* Texto oscuro */
  margin: 0;
  padding: 0;
}

h1 {
  color: #34495e; /* Azul oscuro */
  text-align: center;
}

label {
  font-weight: bold;
  color: #2c3e50;
}

a {
  color: #3498db;
  text-decoration: none;
}

/* Layout */
#upload-screen, #results-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

.hidden {
  display: none;
}

form {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff; /* Fondo del formulario */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

button {
  width: 100%;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #3498db; /* Botón azul */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2980b9; /* Azul más oscuro */
}

input[type="file"] {
  border: 1px solid #dfe6e9;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
  color: #34495e;
}

button:disabled {
  background-color: #bdc3c7; /* Gris */
  cursor: not-allowed;
}

.notification {
  background-color: #1abc9c; /* Verde éxito */
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 10px;
  animation: fadeOut 3s forwards;
}

.notification.error {
  background-color: #e74c3c; /* Rojo error */
}

/* Fade-out animation for notifications */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* Contenedor principal */
#results-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh; /* Ocupa toda la pantalla */
  position: relative;
}

/* Gráfico 3D */
#results-plots {
  width: 70%; /* Ajusta el ancho del gráfico */
  height: 900px; /* Ajusta la altura del gráfico */
  margin: auto;
  background-color: #fff; /* Fondo blanco para diferenciarlo */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Contenedor de botones */
#actions-container {
  position: absolute;
  top: 17%;
  right: 5%; /* Posición relativa al borde derecho */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre botones */
}

/* Botones */
#back-button,
#download-button {
  background-color: #3498db; /* Azul */
  color: white;
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 150px; /* Tamaño uniforme */
}

#back-button:hover,
#download-button:hover {
  background-color: #2980b9; /* Azul más oscuro al pasar el mouse */
}

/* Switch Container */
#switch-container {
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 10; /* Asegúrate de que esté encima del gráfico */
  background: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Switch Label */
#switch-container label {
  font-weight: bold;
  color: #2c3e50;
  font-size: 14px;
  margin: 0;
}

/* Toggle Switch Styles */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #519515;
  border-radius: 34px;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #3498db;
}

input:checked + .slider:before {
  transform: translateX(25px);
}